.todo-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid white;
  background-color: #06865b;
  color: white;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.todo-month {
  font-size: 0.75rem;
  font-weight: bold;
}
.todo-year {
  font-size: 0.75rem;
}
.todo-day {
  font-size: 1.5rem;
  font-weight: bold;
}
